* {
  color: seashell;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9px;
  text-align: center;
  background-color: black;
}
.header {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  height: 69px;
  align-items: center;
  top: 0px;
}
.header li {
  display: inline-block;
  flex-direction: row;
  padding: 0px 15px;
}
.header ul {
  position: absolute;
  right: 0px;
  top: 0px;
  justify-content: space-around;
}
.header img {
  height: 50px;
  margin: 10px;
  padding: 0px;
}
body {
  overflow: scroll;
  position: relative;
  top: 70px;
  margin: 0px;
  padding: 0px;
}
.mission {
  background-image: url("/Users/michaelnewton/Documents/Projects/TeaCozy/Resources/Images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.tea {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.locations {
  background-image: url("/Users/michaelnewton/Documents/Projects/TeaCozy/Resources/Images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 0px;
}
.mission .info {
  width: 1200px;
  height: 150px;
  padding: 5px 0px;
  position: relative;
  display: block;
  top: 275px;
}
h2 {
  font-size: 35px;
}
.tea {
  height: 700px;
  padding: 50px;
}
.thumbnail {
  width: 300px;
  display: inline-block;
  flex-direction: row;
  margin: 10px;
}
.thumbnail img  {
  height: 200px;
  width: 300px;
}
h4 {
  margin: 10px;
}
.address  {
  position: relative;
  display: inline-block;
  word-wrap: wrap;
  width: 300px;
  height: 280px;
  margin: 0px 20px;
  opacity: 1;
  top: 50px;
}
h3 {
  padding-top: 5px;
}
.address p {
  line-height: 60px;
  padding: 5px;
}
.locations h2 {
  background-color: transparent;
  font-size: 35px;
  position: relative;
  display: block;
  margin: 15px;
  padding: 0px;
  top: 50px;
}
span {
  position: absolute;
  left: 20px;
}
.contact {
  height: 200px;
}
